<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Result</title>

    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: rgb(204, 255, 246);
        }
        table,td{
            border: 1px solid black;
            border-collapse: collapse;
            background-color: white;
            padding: 5px;
        }
        th{
            border: 1px solid white;
            border-collapse: collapse;
            background-color: black;
            color: white;
            padding: 5px;
        }
        .container{
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        .components{
            text-align: center;
            background-color: rgb(208, 250, 144);
            width: 450px;
            border: 1px solid pink;
            text-emphasis-color: black;
            margin: 30px auto;
        }
        a{
            background-color: rgb(208, 250, 144);
            font-size: 1.5em;
            font-weight: 600;
            padding-left: 15px;
            padding-right: 15px;
            color: black;
            text-decoration: none;
        }

    </style>


</head>
<body>
    <h1 style="text-align: center; background-color: antiquewhite;">Exam Result</h1>
    <div class="container">
        <table > 
            <thead>
             <tr>
                <th rowspan="2">Student Name</th>
                 <th colspan="2">Prilimary Exam</th>
                 <th colspan="2">Terminal Exam</th>
                 <th colspan="2">Final Exam</th>
                 <th rowspan="2">View Result</th>
             </tr>
             <tr>
                <th> Theory Marks</th>
                 <th>Practical Marks</th>
                 <th>Theory Marks</th>
                 <th>Practical Marks</th>
                 <th>Theory Marks</th>
                 <th>Practical Marks</th>
             </tr>

            </thead>
            <tbody>
                    <% for(var i=0; i<res1.length; i++) { %>
                           <tr>
                        <td><%= res1[i].name %></td>
                        <td><%= res1[i].ob_th %></td>
                        <td><%= res1[i].ob_pr %></td>
                        <td><%= res2[i].ob_th %></td>
                        <td><%= res2[i].ob_pr %></td>
                        <td><%= res3[i].ob_th %></td>
                        <td><%= res3[i].ob_pr %></td>
                        <td><a href="/home/result?id=<%=res1[i].id%>" target="_blank">View Result</a></td>
                       </tr>
                       <%} %>
                       
               </tbody>
         </table>
    </div>

    <div class="components">
        <a href="/home/exam?page=<%=1%>"><<</a> 
      <% if(page > 1) { %> <a href="/home/exam?page=<%=page-1%>"><</a> <% } else if(page==1) { %> 
       <a href="/home/exam?page=<%=1%>"><</a>
       <% } %>

      <% for(let i = iterator; i <= endingLink; i++) { %>
       <% if(i === page) { %>
       <a href="/home/exam?page=<%=i%>"><%=i%></a>
       <% continue; %>
   <% } %>
       <% } %>

      <% if(page < numberOfPages) { %> <a href="/home/exam?page=<%=page+1%>">></a> <% } else if(page==numberOfPages) { %>
       <a href="/home/exam?page=<%=numberOfPages%>">></a>
       <% } %>
      <a href="/home/exam?page=<%=numberOfPages%>">>></a>

</div>
    
</body>
</html>