<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Full Details </title>
    <link rel="stylesheet" href="/adduser/adduser.css">
</head>
<body>
    <h1><%= data.first_name %> <%= data.last_name %> full Details</h1>
   <h3>Age : <%= data.age %></h3> 
    <h3>Mobile Number : <%= data.mo_number %></h3>
  <h3>Email : <%= data.email %></h3>  
   <h3>Gender : <%= data.gender %></h3> 
   <h3>Hobbies : <%= data.hobbies %></h3> 
   <h3>Address : <%= data.address %></h3> 
</body>
</html>